<h1>TelbookApplication</h1>

<% if @friends.present? %>
  <%= link_to "add", :new_friend %>
  <table class="list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Function</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td style="text-align: right"><%= friend.id %></td>
          <td><%= link_to friend.name, [friend,:telephones]  %></td>
          <td>
            <%= link_to "edit",[:edit, friend] %> |
            <%= link_to "delete", friend, method: :delete, data: {confirm:"本当に削除しても良い？"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>データがありません。</p>
<% end %>


