<h1>TelBookApplication</h1>
<h2><%= @friend.name %></h2>

<% if @telephones.present? %>
  <ul>
    <% @telephones.each do |tel| %>
      <div class="data">  
        <li><%= tel.number %> <%= p "📱" if tel.cellphone %> <%= link_to "delete", "#" %></li>
      </div>
    <% end %>
  </ul>
<% else %>
  <p>データがありません。</p>
<% end %>


<%= render "footer" %>
