<h1>TelBookApplication</h1>
<h2><%= @friend.name %></h2>

<% if @telephones.present? %>
  <ul>
    <% @telephones.each do |tel| %>
      <div class="data">  
        <li>
          <%= tel.number %> 
          <%= p "📱" if tel.cellphone %> 
          <%= link_to "delete", [@friend,tel], method: :delete , data: {confirm:"本当に削除しても良い？"} %>
        </li>
      </div>
    <% end %>
  </ul>
<% else %>
  <p>データがありません。</p>
<% end %>


<%= form_for [@friend,@newTel] do |newTel| %>
  <%= render "telephones/form", form: newTel %>
<% end %>

<%= render "footer" %>